@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__wrapper/profile__wrapper.css);
@import url(../blocks/profile/__name-wrapper/profile__name-wrapper.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/element/element.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__mask/card__mask.css);
@import url(../blocks/card/__wrapper/card__wrapper.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/card/__vector/card__vector.css);
@import url(../blocks/card/__vector/_active/card__vector_active.css);
@import url(../blocks/card/__delete/card__delete.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__input-container/popup__input-container.css);
@import url(../blocks/popup/__item/popup__item.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/picture-popup/picture-popup.css);
@import url(../blocks/picture-popup/_opened/picture-popup_opened.css);
@import url(../blocks/picture-popup/__figure/picture-popup__figure.css);
@import url(../blocks/picture-popup/__img/picture-popup__img.css);
@import url(../blocks/picture-popup/__figcaption/picture-popup__figcaption.css);
@import url(../blocks/picture-popup/__close-icon/picture-popup__close-icon.css);
@import url(../blocks/picture-popup/__wrapper/picture-popup__wrapper.css);
@import url(../blocks/root/root.css);

