.picture-popup {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .9);
}

.picture-popup:not(.picture-popup_opened).closing-delay {
    display: block;
    animation: disappearance .5s;
    z-index: 10;
}

@keyframes disappearance {
    from{opacity: 100%;}
    to{opacity:0;}
}