.element {
    display: flex;
    flex-wrap: wrap;
    column-gap: 17px;
    row-gap: 20px;
    margin-top: 51px;
    justify-content: center;
}

@media screen and (max-width: 710px) {
    .element {
        margin-top: 36px;
    }
}